@import "../../../styles/_variables";

.box-style {
  animation: transitionIn 3s;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 0px 7px rgba(0, 0, 0, 1),
    3px 2px 15px rgba(255, 255, 255, 0.8),
    0px 0px 10px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.7);
  color: $light;

  .color-primary {
    color: $primary;
  }
}