<div class="container-fluid landingpage" id="landing">
  <div class="row justify-content-center">
    <div class="box-style">
      <hr>
      <h1> Dennis Meijboom</h1>
      <hr>
      <p>Web Developer <br>
        <fa-icon class="color-primary" icon="code"></fa-icon><br> 
        Web Designer
      </p>

    </div>
  </div>
  <div class="row justify-content-center welcome-msg">
    <div class="box-style">
      <span class="typewriter">
        <p>
          <fa-icon class="color-primary" icon="terminal"></fa-icon> Welcome to my website.
        </p>
      </span>
    </div>
  </div>

  <div class="row justify-content-center">
    <button class="box-style enter-btn">Enter <fa-icon icon="angle-double-right"></fa-icon> </button>
  </div>
</div>