@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

.box-style {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 0px 7px rgba(0, 0, 0, 1),
               3px 2px 15px rgba(255, 255, 255, 0.8),
               0px 0px 10px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.landingpage {
  font-family: 'montserrat' ;
  height: 100vh;
  width: 100vw;
  background: url(../../assets/IMGS/CodeBG.jpg);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px white dotted;
  hr {
    border: 0px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

  .row:nth-of-type(1) {
    padding-top: calc(25vh - 50px); /*for navbar height */
  }
  .row:nth-of-type(2) {
    margin-top: 60px;
  }
}

.landingpage h1{
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2em;
}