<div class="container-fluid landingpage" id="landing">
  <div class="row justify-content-center">
    <div class="box-style">
      <hr>
      <h1> Dennis Meijboom</h1>
      <hr>
      <p>Web Developer <br><fa-icon  class="color-primary" icon="code"></fa-icon><br> Web Designer</p>

    </div>
  </div>
  <div class="row justify-content-center" id="scroll">
    <div class="box-style typewriter">
      <p><fa-icon class="color-primary" icon="terminal">..</fa-icon> Welcome on my website.</p>
    </div>
  </div>
</div>