<div class="container">
  <h1>Where</h1>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">I come from</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">I am</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
        aria-selected="false">I want to go</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      My career started at the Army as a Truck-technician. Then changed careers completely to being sailor on an inland barge, loading and discharging chemicals across europe. after 6 fun years working on inland barges. I started working for the Boatmen in the port of Rotterdam and tried that for a year. That wasn't quite the match either, so that was the point I completely changed careers once again. This time going into development. 
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        Now I'm a Junior developer, went back to university for Front-End development at the Leidse Onderwijs Instellingen. while also doing the online course from Colt Steele. Called "The Webdeveloper Bootcamp". this course is for fullstack development, with a techstack of: 
        <ul>
          <li>HTML5 & CSS3</li>
          <li>Bootstrap 4</li>
          <li>VanillaJS jQuery</li>
          <li>NodeJS & ExpressJS</li>
          <li>MongoDB & PostgreSQL</li>
          <li>Angular 8 & Typescript</li>
        </ul>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        My Goal is to become a front-end developer within this year, and continue learning, to call myself a fullstack developer next year. I'd love to learn Angular, or going the Python route with Django or Flask. With the diversity of Webdevelopment or software development, I'm sure it will not get boring anytime soon. 
    </div>
  </div>
</div>